
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --primary: 47 20% 65%;
    --primary-light: 41 33% 95%;
    --secondary: 180 56% 8%;

    --border: 41 33% 95%;
    --input: 41 33% 95%;
    --ring: 47 20% 65%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --primary: 47 20% 65%;
    --primary-light: 41 33% 95%;
    --secondary: 180 56% 8%;

    --border: 180 56% 8%;
    --input: 180 56% 8%;
    --ring: 47 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
